aiohttp>=3.9
# request from playwright may be forbidden by Runtime.enable leak check
patchright>=1.52
beautifulsoup4
Pillow
apng
onnxruntime-gpu
dghs-imgutils[gpu]
torch
safetensors
huggingface_hub
# Optional: Telegram source mode
telethon>=1.36
